@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
.navbar {
    background-color: #3b883e;
    font-family: 'Gamja Flower', cursive;
    font-size: 2vw;
}

@media(min-width:320px) {
    .container-fluid {
        width: 100%;
    }
}

@media(min-width:992px) {
    .container-fluid {
        width: 20vw;
    }
}