@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
.navbar {
    background-color: #74a053;
    font-family: 'Gamja Flower', cursive;
    font-size: 2vw;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff80;
}

body {
    background-color: #e0e0e0;
}

#ImagenMain {
    max-width: 100vw;
    padding: 0;
    font-size: 2vw;
}

#foto {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

main {
    padding: 3vw;
}

#imagen1 {
    /*puede ser eliminado, es necesario ajustar las imagenes*/
    max-width: 90vw;
    image-resolution: 400px;
}

#imagen2 {
    max-width: 90vw;
}

@media(min-width:320px) {
    .nav-link {
        font-size: 4vw;
    }
    .carousel-caption {
        bottom: 10vw;
        background-color: #0f0f0f4f;
    }
    .carousel-caption h4 {
        font-size: 5vw;
    }
}

@media(min-width:425px) {
    .nav-link {
        font-size: 3vw;
    }
    .carousel-caption {
        bottom: 10vw;
        background-color: #0f0f0f4f;
    }
    .carousel-caption h4 {
        font-size: 5vw;
    }
}

@media(min-width:768px) {
    .nav-link {
        font-size: 2vw;
    }
    .carousel-caption {
        bottom: 10vw;
        background-color: #0f0f0f4f;
    }
    .carousel-caption h4 {
        font-size: 5vw;
    }
}

@media(min-width:992px) {
    .navbar-expand-lg .navbar-collapse {
        justify-content: space-around;
    }
    .nav-link {
        margin-right: 4vw;
    }
    .navbar-brand {
        font-size: 2.5vw;
    }
    .container-fluid {
        width: 20vw;
    }
    .carousel-caption {
        bottom: 10vw;
        background-color: #0f0f0f4f;
    }
    .carousel-caption h4 {
        font-size: 5vw;
    }
}